[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allure-pytest = "==2.13.2"
allure-python-commons = "==2.13.2"
pytest = "==7.4.3"
pytest-html-reporter = "==0.2.9"
assertpy = "==1.1"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
